@font-face {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: Medium;
}


html, body {
  transform: scale(0.97);
  transform-origin: top left;
  margin: 0px;
  padding: 0px;
  background-color: #a6a6ac;
  width: 95%
}


canvas {
  display: block;
 }

input{
  height: 40px;
  width: 75%;
  background-color: #e06571;
  margin-left: 65px;
  margin-top: 10px;
  padding: 0;

}


/* Placeholder-Farbe */
input::placeholder {
  color: var(--placeholder-color);
  opacity: 1; /* sonst wirkt er leicht transparent */
    font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: Medium;
  font-size: 10pt;
}


#logo {
  height: 100px;
  margin-top: -65px;
  margin-left: 300px;
  /* width: 780px; */


}

#sound {
  width: 50px;
  margin-top: -33px;
  margin-left: 20%;
}

/*großer Text */
p {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #000000;
  font-size: 500%;
  margin-top: -60px;
  margin-left: 0px;
  padding: 0;
  line-height: 1;
}

.text {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #000000;
  font-size: 65pt;
  margin-left: 100px;
  padding: 0;
 line-height: 1;
}


.kleinerTextAnfang {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #e06571;
  font-size: 20pt;
  margin-top: 30px;
  margin-left: 5px;
  padding: 0pt;
   line-height: 1;
}


.kleinerText {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;  
  color: #000000;
  font-size: 10pt;
  margin-top: -70px;
  margin-left: 5px;
  padding: 0pt;
   line-height: 1;
}

.EingabefeldText {
 font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #000000;
  font-size: 10pt;
  margin-left: 50px;
  margin-top: -17pt;
  padding: 0pt;
}


.delayed {
  opacity: 0;
}

.startHidden {
  opacity: 0;
  transition: opacity 2s ease-in;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
 
}

body .fadeIn {
  opacity: 1;
  
  
}


