@font-face {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: Medium;
}


html, body {
  margin: 0px;
  padding: 0px;
  background-color: #a6a6ac;
  width: 100%
}



canvas {
  display: block;
 }

input{
  height: 40px;
  width: 73%;
  background-color: #e06571;
  margin-left: 65px;
  margin-top: 30px;
  padding: 0;

}


/* Placeholder-Farbe */
input::placeholder {
  color: var(--placeholder-color);
  opacity: 1; /* sonst wirkt er leicht transparent */
}


#logo {
  height: 150px;
  margin-top: -80px;
  margin-left: 310px;
  /* width: 780px; */


}

#sound {
  width: 50px;
  margin-top: -33px;
  margin-left: 10px;
}

p {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #000000;
  font-size: 65pt;
  margin-top: -75px;
  margin-left: 5px;
  padding: 0;

}

.text {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #000000;
  font-size: 65pt;
  margin-left: 100px;
  padding: 0;

}

g {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #000000;
  font-size: 10pt;
  margin: 17pt;
  padding: 0pt;
}
.kleinerTextAnfang {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: Medium;
  color: #e06571;
  font-size: 20pt;
  margin-top: 30pt;
  margin-left: 10px;
  padding: 0pt;
}


.kleinerText {
  font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: Medium;
  color: #000000;
  font-size: 10pt;
  margin-left: 10px;
  padding: 0pt;
}

.EingabefeldText {
 font-family: "Montserrat";
   src: url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  color: #000000;
  font-size: 10pt;
  margin-left: 50px;
  margin-top: -17pt;
  padding: 0pt;
}
a{
  color: #000000;
  margin: 15pt;
  padding: 0pt;

}

.delayed {
  opacity: 0;
}

.startHidden {
  opacity: 0;
  transition: opacity 2s ease-in;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
 
}

body .fadeIn {
  opacity: 1;
  
  
}


