@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: Medium;
}


html, body {
  margin: 10px;
  padding: 0px;
  background-color: #a6a6ac;
  width: 100%
}



canvas {
  display: block;
 }

input{
  height: 30px;
  width: 15%;
  background-color: #e06571;
  margin-left: 20px;
  margin-top: 0pt;
  padding: 0;
}

#logo {
  height: 150px;
  margin-top: 20px;
  margin-left: 15px;
  /* width: 780px; */


}

#sound {
  width: 50px;
  margin-top: -28px;
  margin-left: 260px;
}

p {
  font-family: "Montserrat";
  font-weight: bold;
  color: #000000;
  font-size: 65pt;
  margin: 10pt;
  padding: 0;

}

.großerText{
  font-family: "Montserrat";
  font-weight: bold;
  color: #000000;
  font-size: 65pt;
  margin: 10pt;
  padding: 0;
}

g {
 font-family: "Montserrat";
  font-weight: bold;
  color: #000000;
  font-size: 10pt;
  margin: 17pt;
  padding: 0pt;
}
.kleinerTextAnfang {
  font-family: "Montserrat";
  font-weight: Medium;
  color: #e06571;
  font-size: 20pt;
  margin: 15pt;
  padding: 0pt;
}


.kleinerText {
  font-family: "Montserrat";
  font-weight: Medium;
  color: #000000;
  font-size: 20pt;
  margin: 15pt;
  padding: 0pt;
}

.EingabefeldText {
 font-family: "Montserrat";
  font-weight: bold;
  color: #000000;
  font-size: 10pt;
  margin-left: 20pt;
  margin-top: -17pt;
  padding: 0pt;
}
a{
  color: #000000;
  margin: 15pt;
  padding: 0pt;

}

.delayed {
  opacity: 0;
}

.startHidden {
  opacity: 0;
  transition: opacity 2s ease-in;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
 
}

body .fadeIn {
  opacity: 1;
  
  
}


