html, body {
  margin: 10px;
  padding: 0px;
  background-color: #a6a6ac;
  width: 1000px
  
}


canvas {
  display: block;
 }

input{
  height: 30px;
  width: 780px;
  background-color: #e06571;
  margin: 5pt;
  padding: 0;
}

#logo {
  height: 200px;
  margin-top: 20px;
  margin-left: 0px;
  /* width: 780px; */


}

#sound {
  width: 50px;
}

p {
  font-family: Montserrat;
  font-weight: bold;
  color: #000000;
  font-size: 65pt;
  margin: 10pt;
  padding: 0;

}

g {
  font-family: Montserrat;
  font-weight: medium;
  color: #000000;
  font-size: 10pt;
  margin: 17pt;
  padding: 0pt;
}


.kleinerText {
  font-family: Montserrat;
  font-weight: medium;
  color: #000000;
  font-size: 20pt;
  margin: 15pt;
  padding: 0pt;
}


a{
  color: #000000;
  margin: 15pt;
  padding: 0pt;

}

.delayed {
  opacity: 0;
}

.startHidden {
  opacity: 0;
  transition: opacity 5s ease-in;
  -moz-transition: opacity 5s;
  -webkit-transition: opacity 5s;
 
}

body .fadeIn {
  opacity: 1;
  
  
}


